
<label class="nav-item"><a class="nav-link" routerLink="banke">Banke</a></label>
<label class="nav-item"><a class="nav-link" routerLink="klijenti">Klijenti</a></label>
<label class="nav-item"><a class="nav-link" routerLink="analitike-izvoda">Analitike izvoda</a></label>
<label class="nav-item"><a class="nav-link" routerLink="dnevno-stanje-racuna">Dnevno stanje racuna</a></label>
<label class="nav-item"><a class="nav-link" routerLink="drzava">Drzava</a></label>
<label class="nav-item"><a class="nav-link" routerLink="kursna-lista">Kursna lista</a></label>
<label class="nav-item"><a class="nav-link" routerLink="naseljena-mesta">Naseljena mesta</a></label>
<label class="nav-item"><a class="nav-link" routerLink="transferi">Transferi</a></label>
<label class="nav-item"><a class="nav-link" routerLink="ukidanja">Ukidanja</a></label>
<label class="nav-item"><a class="nav-link" routerLink="valute">Valute</a></label>
<label class="nav-item"><a class="nav-link" routerLink="racuniPravnihLica">Racuni pravnih lica</a></label>
<label class="nav-item" (click)="logout()"><a class="nav-link" routerLink="bank">Logout</a></label>
<router-outlet></router-outlet>